@font-face {
    font-family: 'Gilroy Light';
    font-weight: normal;
    font-style: 300;
    src: local('Gilroy Light'),
         url('../fonts/gilroylight.woff') format('woff'),
         url('../fonts/gilroylight.woff2') format('woff2');
}
    
@font-face {
    font-family: 'Gilroy ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: local('Gilroy ExtraBold'),
         url('../fonts/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroyextrabold.woff2') format('woff2');

}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: 300;
    font-style: normal;
    src: local('Open Sans Light'),
         url('../fonts/opensanslight.woff') format('woff'),
         url('../fonts/opensanslight.woff2') format('woff2');
    
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: local('Open Sans'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.woff2') format('woff2');
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Gilroy ExtraBold", Arial, sans-serif;

    font-size: 18px;
    line-height: 24px;
    font-weight: 800;    
    color: #000000;
    
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

main {
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;

    cursor: pointer;

    font: inherit;

    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
    vertical-align: middle;

    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(40%, transparent));
    background-image: -webkit-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 40%);
    background-image: -o-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 40%);
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 40%);
    border: none;
}

.button:hover {
    color: #000000;
    background-color: #f0c52e;

    -webkit-transition-duration: 0.5s;

         -o-transition-duration: 0.5s;

            transition-duration: 0.5s;
}

.button:focus {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-header {
    padding: 21px 60px;
    padding-bottom: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent 40px, rgba(240, 197, 46, 0.5) 40px);
    background-image: -o-linear-gradient(transparent 40px, rgba(240, 197, 46, 0.5) 40px);
    background-image: linear-gradient(transparent 40px, rgba(240, 197, 46, 0.5) 40px);
}

.main-header-logo {
    margin-bottom: 11px;
}

.main-header-logo:hover path, 
.footer-logo:hover path {
    fill-opacity: 0.6;
}

.main-header-logo:focus path, 
.footer-logo:focus path {
    fill-opacity: 0.3;
}

.main-header .login-out {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.user-navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 28px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.search-form input[type="search"] {
    margin: 0;
    padding-left: 34px;
    height: 49px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;

    display: block;

    font: inherit;

    background-color: transparent;
    border: solid 2px transparent;
}

.search-form input[type="search"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-form input[type="search"]:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-form input[type="search"]::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-form input[type="search"]::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-form input[type="search"]:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:focus {
    color: #000000;
    border-bottom-color: #000000;
    outline: none;
}

.search-form .search-button {
    width: 85px;
    height: 49px;

    display: none;

    font: inherit;

    color: #000000;
    background-color: transparent;
    border: solid 2px #000000;
}

.search-form .search-button:hover {
    color: #ffffff;
    background-color: #000000;
}

.search-form .search-button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 440px;
    min-height: 49px;
    position: relative;
}

.search-form::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 3px;

    width: 16px;
    height: 16px;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-form input[type="search"]:focus ~ .search-button {
    display: block;
}

.user-navigation-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 500px;
}

.user-navigation-block a:hover path {
    fill-opacity: 0.6;
}

.user-navigation-block a:focus path {
    fill-opacity: 0.3;
}

.login-link svg {
    margin-right: 10px;
}
 
.login-link .user-cabinet:first-child {
    margin-right: 20px;
}

.compare {
    margin-left: auto;
}

.compare svg {
    margin-right: 5px;
}

.cart {
    margin-left: 42px;
}

.cart svg {
    margin-right: 7px;
}

.site-navigation {
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.site-navigation,
.user-navigation-block,
.site-navigation-items ul {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.login-link:hover::before,
.compare:hover::before,
.cart:hover::before {
    opacity: 0.6;
}

.site-navigation a:focus,
.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.login-link:active::before,
.compare:active::before,
.cart:active::before {
    opacity: 0.3;
}

.site-navigation li {
    margin-right: 33px;
}

.site-navigation li:last-child {
    margin-right: 0;
    margin-left: auto;
}

.site-navigation .catalog-link {
    position: relative;
    margin-right: 320px;
}

.catalog-link::after {
    content: "";

    position: absolute;
    top: 4px;
    right: -28px;

    width: 16px;
    height: 16px;

    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.site-navigation-items {
    display: none;

    -webkit-box-align: start;

        -ms-flex-align: start;

            align-items: flex-start;
    margin: 0;
    padding: 0 60px;
    padding-top: 20px;
    padding-bottom: 36px;

    width: 1160px;
    min-height: 166px;

    position: absolute;
    top: 20px;
    left: -60px;
    z-index: 20;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: initial;
    text-transform: none;

    background-color: #f7e296;
}

.site-navigation-items ul {
    margin: 0;
    padding: 0;
}

.site-navigation-items li {
    margin-right: 58px;
    width: 182px;
}

.site-navigation-items li:last-child {
    margin-left: 0;
}

.catalog-link:hover .site-navigation-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider {
    margin: 0;
    padding: 0;
    margin-bottom: 105px;

    position: relative;
    
    background-color: transparent;
    background-image: -webkit-linear-gradient(rgba(240, 197, 46, 0.5) 115px, transparent 115px);
    background-image: -o-linear-gradient(rgba(240, 197, 46, 0.5) 115px, transparent 115px);
    background-image: linear-gradient(rgba(240, 197, 46, 0.5) 115px, transparent 115px);
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider-info-wrapper::after {
    content: "01";

    position: absolute;
    top: -12px;
    right: 64px;
    z-index: 1;

    width: 166px;
    height: 131px;

    font-size: 179px;
    line-height: 179px;
    letter-spacing: 1.79px;
    color: #ffffff;
}

.slider-item_fitness-bracelet .slider-info-wrapper::after {
    content: "02";
}

.slider-item_quadcopter .slider-info-wrapper::after {
    content: "03";
}

.slider-image-wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;

    -ms-flex-item-align: center;

        -ms-grid-row-align: center;

        align-self: center;
}

.slider-item h3 {
    margin-top: 84px;
    margin-bottom: 20px;

    position: relative;
    z-index: 2;

    font-size: 47px;
    line-height: 56px;
}

.slider-item_selfie-stick .slider-image-wrapper {
    margin-left: 92px;
}

.slider-item_selfie-stick .slider-info-wrapper {
    margin-left: 125px;
    width: 480px;
}

.slider-item_fitness-bracelet .slider-image-wrapper {
    margin-left: 124px;
}

.slider-item_fitness-bracelet .slider-info-wrapper {
    margin-left: 138px;
    width: 440px;
}

.slider-item_quadcopter .slider-image-wrapper {
    margin-left: 46px;
}

.slider-item_quadcopter .slider-info-wrapper {
    margin-left: 42px;
    width: 502px;
}

.slider-item_selfie-stick h3,
.slider-item_fitness-bracelet h3 {
    padding-right: 90px;
}

.slider-item h3::before {
    content: "";

    position: absolute;
    top: -42px;
    left: 0;
    z-index: 0;

    width: 100px;
    height: 7px;

    background-color: #ffffff;
}

.slider-item p {
    margin-bottom: 42px;
    
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.slider-item .button {
    width: 220px;
    margin-bottom: 48px;
}

.slider-controls label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 21px;

    position: relative;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls {
    position: absolute;
    top: 332px;
    right: 62px;
    z-index: 20;

    font-size: 0;
}

.features td {
    width: 160px;
}

.features tr:first-child {
    font-family: "Gilroy Light", Arial, sans-serif;
    
    font-size: 36px;
    line-height: 48px;
    font-weight: 300; 
}

.features tr:last-child {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #464646;
}

.slider-item {
    display: none;
}

#item_selfie-stick:checked ~ .slider-list #slide_selfie-stick,
#item_fitness-bracelet:checked ~ .slider-list #slide_fitness-bracelet,
#item_quadcopter:checked ~ .slider-list #slide_quadcopter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#item_selfie-stick:checked ~ .slider-controls label[for="item_selfie-stick"]::after,
#item_fitness-bracelet:checked ~ .slider-controls label[for="item_fitness-bracelet"]::after,
#item_quadcopter:checked ~ .slider-controls label[for="item_quadcopter"]::after {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    width: 6px;
    height: 6px;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
}

.popular {
    margin-bottom: 80px;
}

.popular ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    list-style: none;
}

.popular li {
    margin-right: 40px;

    position: relative;
}

.popular li:last-child {
    margin-right: 0;
}

.popular a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    max-width: 160px;

    color: #000000;
}

.popular-item-name-2 {
    display: inline-block;
    max-width: 122px;

    vertical-align: top;
}

.popular-item::before {
    content: "";

    position: relative;
    top: 0;
    left: 0;

    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5); 
    margin-bottom: 33px;
}

.popular-item::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 160px;
    height: 160px;

    background-repeat: no-repeat;
    background-position: center center;
}

.popular-item-1::after {
    background-image: url("../img/popular-1.svg");
}

.popular-item-2::after {
    background-image: url("../img/popular-2.svg");
    background-position: center bottom;
}

.popular-item-3::after {
    background-image: url("../img/popular-3.svg");
}

.popular-item-4::after {
    background-image: url("../img/popular-4.svg");
}

.popular-item-5::after {
    background-image: url("../img/popular-5.svg");
}

.popular-item-6::after {
    background-image: url("../img/popular-6.svg");
}

.popular-item:hover::before {
    background-color: #f0c52e;

    -webkit-transition-duration: 0.5s;

         -o-transition-duration: 0.5s;

            transition-duration: 0.5s;
}

.popular-item:focus::after {
    opacity: 0.3;

    -webkit-transition-duration: 0.5s;

         -o-transition-duration: 0.5s;

            transition-duration: 0.5s;
}

.popular a:focus {
    color: rgba(0, 0, 0, 0.3);

    -webkit-transition-duration: 0.5s;

         -o-transition-duration: 0.5s;

            transition-duration: 0.5s;
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    min-height: 388px;
    margin-bottom: 94px;

    position: relative;

    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent 100px, #e5e5e5 100px);
    background-image: -o-linear-gradient(transparent 100px, #e5e5e5 100px);
    background-image: linear-gradient(transparent 100px, #e5e5e5 100px);
}

.services::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent 100px, #e5e5e5 100px);
    background-image: -o-linear-gradient(transparent 100px, #e5e5e5 100px);
    background-image: linear-gradient(transparent 100px, #e5e5e5 100px);
}

.services-navigation,
.services-slider {
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-navigation {
    -ms-flex-item-align: start;
        align-self: flex-start;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 283px;
    height: 320px;
    
    border-right: 7px solid #000000;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    margin-right: 0;
}

.service-button {
    width: 160px;
    
    position: relative;
}

.service-button::after {
    content: "";

    position: absolute;
    top: 0;
    right: -116px;

    background-color: #000000;
    width: 120px;
    height: 100%;
}

.service-button::after {
    width: 0;

    background-color: #f0c52e;
}

.services-navigation li:first-child {
    margin-top: 80px;
}

.services-navigation li {
    margin-bottom: 24px;
}

.services-navigation li:last-child {
    margin-bottom: 0;
}

.services-slider {
    width: 830px;
}

.services-slider-list {
    padding-top: 72px;
    padding-left: 116px;
    padding-right: 260px;

    position: relative;
}

.services-slider-list::after {
    content: "";

    position: absolute;
    top: 60px;
    right: -48px;

    width: 203px;
    height: 194px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-slider-list-delivery::after {
    top: 85px;

    background-image: url("../img/delivery.svg");
}

.services-slider-list-warranty::after {
    background-image: url("../img/warranty.svg");
}

.services-slider-list-credit::after {
    background-image: url("../img/credit.svg");
}

.services-slider-list h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;

    font-size: 47px;
    line-height: 48px;
}

.services-slider-list p {
    padding: 0;
    margin: 0;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.services-slider-list-delivery p {
    width: 426px;
}

.services-slider-list-warranty p {
    width: 436px;
}

.services-slider-list-credit p {
    width: 425px;
}

.services-slider-list {
    display: none;
}

#item-list-delivery:checked ~ .services-slider .services-slider-list-delivery,
#item-list-warranty:checked ~ .services-slider .services-slider-list-warranty,
#item-list-credit:checked ~ .services-slider .services-slider-list-credit {
    display: block;
}

#item-list-delivery:checked ~ .services-navigation label[for="item-list-delivery"],
#item-list-warranty:checked ~ .services-navigation label[for="item-list-warranty"],
#item-list-credit:checked ~ .services-navigation label[for="item-list-credit"] {
    color: #f0c52e;
    background-color: #000000;
    background-image: none;
}

#item-list-delivery:checked ~ .services-navigation label[for="item-list-delivery"]::after,
#item-list-warranty:checked ~ .services-navigation label[for="item-list-warranty"]::after,
#item-list-credit:checked ~ .services-navigation label[for="item-list-credit"]::after {
    width: 120px;

    background-color: #000000;
}

#item-list-delivery:checked:hover ~ .services-navigation label[for="item-list-delivery"],
#item-list-warranty:checked:hover ~ .services-navigation label[for="item-list-warranty"],
#item-list-credit:checked:hover ~ .services-navigation label[for="item-list-credit"] {
    color: #000000;
    background-color: #f0c52e;
    background-image: none;
}

#item-list-delivery:checked:hover ~ .services-navigation label[for="item-list-delivery"]::after,
#item-list-warranty:checked:hover ~ .services-navigation label[for="item-list-warranty"]::after,
#item-list-credit:checked:hover ~ .services-navigation label[for="item-list-credit"]::after {
    width: 120px;
    
    color: #000000;
    background-color: #f0c52e;

    -webkit-transition-property: background-color;

    -o-transition-property: background-color;

    transition-property: background-color;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.logotypes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 93px;
}

.logotypes a {
    position: relative;
}

.logo-image-color {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
}

.logotypes a:hover .logo-image-color {
    display: block;
}

.index-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 82px;
}

.index-column h2 {
    margin-top: 45px;
    margin-bottom: 45px;

    position: relative;

    font-size: 47px;
    line-height: 48px;
}

.index-column h2::before {
    content: "";

    position: absolute;
    top: -52px;
    left: 0;

    width: 80px;
    height: 7px;
    
    background-color: #000000;
}

.index-column p {
    margin: 0;
    margin-bottom: 30px;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.index-column .button {
    margin-right: auto;
}

.index-column .button {
    min-width: 260px;
}

.info,
.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.info {
    width: 475px;
}

.info ul {
    margin: 0;
    margin-top: 62px;
    margin-bottom: 55px;
    padding: 0;
    
    list-style: none;
    font-size: 16px;
    line-height: 40px;
}

.info li {
    padding-left: 35px;

    position: relative;
}

.info li::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 5px;

    width: 8px;
    height: 8px;

    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.contact {
    width: 560px;
}

.contact img {
    margin-top: 10px;
    margin-bottom: 50px;

    width: 560px;
    height: 222px;
}

.catalog-title {
    margin-top: 36px;
    margin-left: 60px;
    margin-bottom: 25px;

    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs {
    margin-left: 60px;
    margin-bottom: 46px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 14px;
    font-weight: 300;
    
    list-style: none;
}

.breadcrumbs li {
    margin-right: 20px;
    padding-right: 20px;

    position: relative;
}

.breadcrumbs li::after {
    content: "";

    position: absolute;
    top: 9px;
    right: -2px;

    width: 4px;
    height: 7px;

    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-current::after {
    display: none;
}

.items-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filters,
.sorting {
    background-color: #ebebeb;
}

.filters {
    margin: 0;
    padding: 0 60px;
    padding-right: 65px;
    width: 500px;

    position: relative;

    background-color: #ebebeb;
    background-image: -webkit-linear-gradient(#d9d9d9 70px, #ebebeb 70px);
    background-image: -o-linear-gradient(#d9d9d9 70px, #ebebeb 70px);
    background-image: linear-gradient(#d9d9d9 70px, #ebebeb 70px);
}

.filters::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);

    background-color: #ebebeb;
    background-image: -webkit-linear-gradient(#d9d9d9 70px, #ebebeb 70px);
    background-image: -o-linear-gradient(#d9d9d9 70px, #ebebeb 70px);
    background-image: linear-gradient(#d9d9d9 70px, #ebebeb 70px);
}

.filters fieldset {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    border: none;

    position: relative;
}

.filters h2,
.sorting h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.filters h2 {
    margin: 0;
    margin-bottom: 80px;
    padding: 23px 0;
    height: 73px;
}

.filters legend {
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
}

.filters legend::before {
    content: "";

    width: 100%;
    height: 2px;
    
    position: absolute;
    top: -14px;
    left: 0;

    background-color: #000000;
}

.filters ul {
    margin: 0;
    padding: 0;
    
    list-style: none;

    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
}

.filter-range {
    margin-top: 20px;

    font-family: "Gilroy Light", Arial, sans-serif;
    
    font-size: 14px;
    font-weight: 300; 
    color: rgba(0, 0, 0, 0.2);
}

.range-controls {
    position: relative;

    margin-bottom: 8px;
}

.range-controls .scale {
    height: 2px;

    background-color: #dbdbdb;
}

.range-controls .bar {
    width: 110px;
    height: 2px;

    background-color: #91c92f;
}

.range-toggle {
    -webkit-box-sizing: initial;
            box-sizing: initial;

    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background-color: #d9d9d9;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    border: 9px solid #ffffff;
}

.range-toggle-min {
    left: -4px;
}

.range-toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;

    vertical-align: center;
    font-size: 14px;

    cursor: pointer;
}

.price-controls input {
    width: 75px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.filter-option {
    margin: 0;
    padding: 0;
    padding-left: 40px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input:disabled + label {
    color: #a6a6a6;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 7px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    left: -40px;
    top: 7px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after {
    opacity: 0.6;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after {
    opacity: 0.25;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: -40px;
    top: 7px;

    width: 25px;
    height: 25px;

    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 15px;
    left: -32px;

    width: 9px;
    height: 9px;

    background-color: #000000;
    border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after {
    opacity: 0.6;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after {
    opacity: 0.25;
}

.filters .button {
    width: 100%;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 23px 0;
    padding-left: 73px;
    margin-bottom: 26px;

    position: relative;
}

.sorting::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-right: calc(50% - 50vw);

    background-color: #ebebeb;
}

.sorting h2 {
    margin: 0;
    padding: 0;
    margin-right: 55px;
}

.sorting-preference,
.sorting-order {
    margin: 0;
    padding: 0;

    list-style: none;

    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.sorting-preference a,
.sorting-order a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting-preference a:hover,
.sorting-order a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-preference a:focus,
.sorting-order a:focus {
    color: #000000;
}

.sorting-preference .current-sorting,
.sorting-order .current-sorting {
    color: #000000;
}

.sorting-preference {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sorting-preference li {
    margin-right: 30px;
}

.sorting-preference li:last-child {
    margin-right: 0;
}

.sorting-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;

    position: relative;
}

.sorting-order a::before {
    content: "";

    position: absolute;
    top: -4px;

    width: 11px;
    height: 10px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.down-to-up::before {
    right: 30px;
    
    background-image: url("../img/icon-up-dir.svg");
}

.sorting-order a::before {
    opacity: 0.3;
}

.sorting-order a:hover::before {
    opacity: 0.6;
}

.sorting-order a:focus::before,
.sorting-order .current-sorting::before {
    opacity: 1;
}

.up-to-down::before {
    right: 0;
    
    background-image: url("../img/icon-down-dir.svg");
}

.catalog-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    list-style: none;
}

.catalog-item {
    margin-top: 44px;
    margin-right: 39px;
    margin-bottom: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;

    position: relative;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.product-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.product-info-wrapper h3 {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    max-width: 252px;
}

.product-name {
    font-size: 18px;
    color: #000000;
}

.product-info-wrapper .product-name_pro-selfiestick {
    max-width: 220px;
}

.product-price {
    font-family: "Gilroy Light", Arial, sans-serif;
    
    font-size: 16px;
    font-weight: 300; 
    color: #464646;
}

.catalog-image-wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;

    cursor: pointer;
}

.catalog-image-wrapper img {
    width: 360px;
    height: 380px;
}

.popup-buttons {
    display: none;

    position: absolute;

    width: 360px;
    height: 380px;

    background-color: rgba(238,	238, 238, 0.7);

    cursor: default;
}

.cart-button {
    position: absolute;

    width: 200px;

    top: 170px;
    left: 50%;
    margin-left: -100px;
}

.compare-button {
    position: absolute;

    min-width: 144px;

    top: 227px;
    left: 50%;
    margin-left: -72px;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.compare-button:hover {
    color: #000000;
}

.compare-button:focus {
    color: rgba(0, 0, 0, 0.2);
    outline: none;
}

.catalog-image-wrapper:hover .popup-buttons {
    display: block;
}

.new-item {
    position: relative;
}

.new-item::after {
    content: "new";

    width: 60px;
    height: 61px;
    
    position: absolute;
    top: 28px;
    right: 27px;

    display: -webkit-inline-box;

    display: -ms-inline-flexbox;

    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    font-size: 14px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.pagination-list {
    margin-right: 0;
    margin-top: 35px;
    margin-bottom: 77px;
    margin-left: 72px; 
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 70px;

    list-style: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
}

.pagination-button a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    width: 125px;
    height: 70px;

    margin: 0;
    padding: 0;

    color: #000000;
}

.pagination-button a:hover {
    background-color: #d9d9d9;
}

.pagination-button a:focus {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-button:first-child {
    margin-right: 212px;
}

.pagination-button:last-child {
    margin-left: auto;
}

.pagination-item {
    margin-right: 31px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:focus {
    color: #000000;
}

.pagination-item-current a {
    color: #000000;
}

.main-footer {
    width: 100%;
    padding: 65px 0;

    background-color: #464646;
}

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-logo path {
    fill: #ffc600;
}

.main-footer .login-out {
    color: rgba(255, 255, 255, 0.3);
}

.footer-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.footer-column p {
    margin: 0;
    padding: 0;
}

.footer-column:first-child {
    margin-bottom: 25px;
}

.footer-column:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;

    position: relative;
}

.footer-column:last-child::before {
    content: "";

    margin-right: 429px;

    position: relative;
    top: 50%;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: #ffc600;
}

.footer-user-navigation,
.footer-site-navigation {
    list-style: none;
}

.footer-user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-width: 500px;
    
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.footer-user-navigation .login-link {
    margin-right: 43px;
}

.footer-user-navigation .compare {
    margin-left: 0;
    margin-right: 41px;
}

.footer-user-navigation .cart {
    margin-left: 0;
    margin-right: 0;
}

.footer-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
    color: #ffffff;
}

.footer-user-navigation a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation path {
    fill: #ffc600;
}

.footer-user-navigation a:hover path {
    fill-opacity: 0.6;
}

.footer-user-navigation a:focus path {
    fill-opacity: 0.3;
}

.footer-site-navigation {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-right: auto;

    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.footer-site-navigation li {
    margin-right: 35px;
}

.footer-site-navigation li:last-child {
    margin-right: 0;
}

.footer-site-navigation a {
    color: #ffffff;
}

.footer-site-navigation a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.footer-address,
.footer-phone a {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}

.footer-column .footer-address {
    margin-right: 124px;
}

.footer-social {
    margin-right: auto;
}

.social-button {
    margin-right: 20px;

    color: rgba(255, 255, 255, 0.3);
}

.social-button path {
    fill-opacity: 0.3;
}

.social-button:hover path {
    fill-opacity: 0.6;
}

.social-button:focus path {
    fill-opacity: 0.1;
}

.social-button:last-child {
    margin-right: 0;
}

.social-button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.social-button:focus {
    color: rgba(255, 255, 255, 0.1);
}

.footer-copyright path {
    fill: #ffc600;
}

.copyright-button:hover path {
    fill-opacity: 0.6;
}

.copyright-button:focus path {
    fill-opacity: 0.3;
}

.modal {
    position: fixed;
    z-index: 20;

    color: #000000;

    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
            box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.modal-letter {
    display: none;

    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -277px;

    width: 960px;
    height: 553px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 98px;
}

.letter-form {
    display: flex;
    flex-wrap: wrap;
}

.letter-form p {
    margin: 0;
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
}

.letter-form p:first-child {
    margin-right: 40px;
}

.letter-form label {
    margin-bottom: 13px;
}

.letter-form input[type="text"],
.letter-form input[type="password"],
.letter-form textarea {
    padding: 20px;

    font-family: "Open Sans", Arial, sans-serif;

    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(70, 70, 70, 0.4);

    background-color: #e5e5e5;
    border: solid 3px transparent;
}

.letter-form input:focus,
.letter-form textarea:focus {
    color: #464646;

    background-color: #ffffff;
    border: solid 3px #f0c52e;

    outline: none;
}

.letter-form input:invalid:focus,
.letter-form textarea:invalid:focus {
    background-color: #f6dada;
}

.letter-form input[type="text"],
.letter-form input[type="password"] {
    width: 360px;
    height: 50px;
}

.letter-form textarea {
    width: 760px;
    height: 156px;
}

.letter-form .button {
    width: 200px;
}

.modal-map {
    display: none;
    
    top: 50%;
    left: 50%;

    width: 960px;
    height: 559px;
    margin-left: -480px;
    margin-top: -280px;
}

.modal-map p{
    margin: 0;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;

    font-size: 0;

    background-color: transparent;
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;

    opacity: 0.5;

    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:focus {
    opacity: 0.3;
    outline: none;
}