@font-face {
    font-family: 'Gilroy Light';
    font-weight: normal;
    font-style: 300;
    src: local('Gilroy Light'),
         url('../fonts/gilroylight.woff') format('woff'),
         url('../fonts/gilroylight.woff2') format('woff2');
}
    
@font-face {
    font-family: 'Gilroy ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: local('Gilroy ExtraBold'),
         url('../fonts/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroyextrabold.woff2') format('woff2');

}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: 300;
    font-style: normal;
    src: local('Open Sans Light'),
         url('../fonts/opensanslight.woff') format('woff'),
         url('../fonts/opensanslight.woff2') format('woff2');
    
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: local('Open Sans'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.woff2') format('woff2');
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Gilroy ExtraBold", Arial, sans-serif;

    font-size: 18px;
    line-height: 24px;
    font-weight: 800;    
    color: #000000;
    
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


a {
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    font: inherit;

    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
    vertical-align: middle;

    background-color: transparent;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 40%);
    border: none;
}

.button:hover {
    color: #000000;
    background-color: #f0c52e;

    transition-duration: 0.5s;
}

.button:focus {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.service-button-current,
.service-button:focus {
    color: #f0c52e;
    background-color: #000000;
    background-image: none;
    outline: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-header {
    padding: 23px 60px;
    padding-bottom: 53px;
    display: flex;
    flex-direction: column;
    
    background-color: transparent;
    background-image: linear-gradient(transparent 40px, rgba(240, 197, 46, 0.5) 40px);
}

.main-header-logo {
    margin-bottom: 12px;
}

.main-header-logo:hover path, 
.footer-logo:hover path {
    fill-opacity: 0.6;
}

.main-header-logo:focus path, 
.footer-logo:focus path {
    fill-opacity: 0.3;
}

.main-header .login-out {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;
    display: flex;
}

.user-navigation {
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.search-form input[type="search"] {
    margin: 0;
    height: 50px;

    font: inherit;

    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border: solid 2px transparent;
}

.search-form input[type="search"]:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:focus {
    color: #000000;
    border-bottom-color: #000000;
    outline: none;
}

.search-form .search-button {
    width: 85px;
    height: 49px;

    font: inherit;

    color: #000000;
    background-color: transparent;
    border: solid 2px #000000;
}

.search-form .search-button:hover {
    color: #ffffff;
    background-color: #000000;
}

.search-form .search-button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.search-form {
    position: relative;
}

.search-input {
    padding-left: 34px;
    width: 356px;
}

.search-form::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 3px;

    width: 16px;
    height: 16px;

    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 500px;
}

.user-navigation-block a:hover path {
    fill-opacity: 0.6;
}

.user-navigation-block a:focus path {
    fill-opacity: 0.3;
}

.login-link svg {
    margin-right: 14px;
}
 
.login-link a:first-child {
    margin-right: 20px;
}

.compare {
    margin-left: auto;
}

.compare svg {
    margin-right: 10px;
}

.cart {
    margin-left: 40px;
}

.cart svg {
    margin-right: 12px;
}

.site-navigation {
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.site-navigation,
.user-navigation-block,
.site-navigation-items {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.login-link:hover::before,
.compare:hover::before,
.cart:hover::before {
    opacity: 0.6;
}

.site-navigation a:focus,
.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.login-link:active::before,
.compare:active::before,
.cart:active::before {
    opacity: 0.3;
}

.site-navigation li {
    margin-right: 23px;
}

.site-navigation li:last-child {
    margin-right: 0;
    margin-left: auto;
}

.site-navigation .catalog-link {
    position: relative;
    margin-right: 285px;
}

.catalog-link::after {
    content: "";

    position: absolute;
    top: 3px;
    right: -32px;

    width: 16px;
    height: 16px;

    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.site-navigation-items {
    display: none;

    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    margin: 0;
    padding: 0 60px;
    padding-top: 20px;
    padding-bottom: 42px;

    width: 1160px;
    height: 170px;

    position: absolute;
    top: 20px;
    left: -60px;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: initial;
    text-transform: none;

    background-color: #f7e296;
}

.site-navigation-items li {
    margin: 0;
    margin-right: 58px;
    padding: 0;
    width: 182px;
}

.site-navigation-items li:last-child {
    margin-left: 0;
}

.catalog-link:hover .site-navigation-items {
    display: flex;
}

.slider {
    margin: 0;
    padding: 0;
    margin-bottom: 106px;

    list-style: none;
}

.slider-list {
    display: flex;
    justify-content: space-around;

    background-color: transparent;
    background-image: linear-gradient(rgba(240, 197, 46, 0.5) 113px, transparent 113px);
}

.slider-info-wrapper {
    width: 480px;
}

.slider-image-wrapper {
    align-self: center;
    order: -1;
}

.slider-list h2 {
    font-size: 47px;
    line-height: 56px;
}

.slider-list p {
    margin-bottom: 48px;
    
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.features {
    margin-top: 58px;
}

.features td {
    width: 160px;
}

.features tr:first-child {
    font-family: "Gilroy Light", Arial, sans-serif;
    
    font-size: 36px;
    line-height: 48px;
    font-weight: 300; 
}

.features tr:last-child {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #464646;
}

.slider-list_fitness-bracelet,
.slider-list_quadcopter,
.services-slider-list-guarantee,
.services-slider-list-credit {
    display: none;
}

.popular {
    margin-bottom: 84px;
}

.popular ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.popular li {
    margin-right: 40px;
}

.popular li:last-child {
    margin-right: 0;
}

.popular a {
    display: flex;
    flex-direction: column;

    color: #000000;
}

.popular-item {
    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5); 
    margin-bottom: 35px;
}

.popular-item-link:hover .popular-item {
    background-color: #f0c52e;
}

.popular a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.services {
    display: flex;
    align-items: stretch;
    min-height: 388px;
    margin-bottom: 94px;

    background-color: transparent;
    background-image: linear-gradient(transparent 100px, #e5e5e5 100px);
}

.services-navigation,
.services-slider {
    margin: 0;
    padding: 0;

    list-style: none;
}


.services-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 278px;
    border-right: 7px solid #000000;
    align-self: stretch;
    margin-right: 0;
}

.services-slider {
    width: 830px;
}

.services-slider-list {
    padding-top: 72px;
    padding-left: 116px;
    padding-right: 260px;
}

.services-slider-list h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

    font-size: 47px;
    line-height: 48px;
}

.services-slider-list p {
    padding: 0;
    margin: 0;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.logotypes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}

.index-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}

.index-column-decoration {
    width: 80px;
    height: 7px;
    margin: 0;
    margin-bottom: 52px;

    border: none;
    background-color: #000000;
}

.index-column h2 {
    margin: 0;
    margin-bottom: 59px;

    font-size: 47px;
    line-height: 48px;
}

.index-column p {
    margin: 0;
    margin-bottom: 44px;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.index-column .button {
    margin-right: auto;
    margin-top: auto;
}

.index-column .button {
    min-width: 260px;
}

.info,
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    width: 475px;
}

.info ul {
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
    
    list-style: none;
    font-size: 16px;
    line-height: 40px;
}

.info li {
    padding-left: 35px;

    position: relative;
}

.info li::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 5px;

    width: 8px;
    height: 8px;

    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.contact {
    width: 560px;
}

.contact img {
    margin-bottom: 69px;

    width: 560px;
    height: 222px;
}

.catalog-title {
    margin-top: 44px;
    margin-left: 61px;
    margin-bottom: 29px;

    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs {
    margin-left: 61px;
    margin-bottom: 49px;
    padding: 0;
    display: flex;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 14px;
    font-weight: 300;
    
    list-style: none;
}

.breadcrumbs li {
    margin-right: 20px;
    padding-right: 20px;

    position: relative;
}

.breadcrumbs li::after {
    content: "";

    position: absolute;
    top: 9px;
    right: -2px;

    width: 4px;
    height: 7px;

    background-image: url(../img/nav-arrow.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-current::after {
    display: none;
}

.items-columns {
    display: flex;
    padding: 0;
}

.filters,
.sorting {
    background-color: #ebebeb;
}

.filters {
    width: 32%;
    margin: 0;
    padding: 10px 60px;

    background-image: linear-gradient(#d9d9d9 72px, #ebebeb 71px);
}

.filters fieldset {
    margin: 0;
    margin-bottom: 41px;
    padding: 0;

    border: none;
}

.filter-decoration {
    width: 100%;
    height: 2px;
    margin-bottom: 16px;

    border: none;
    background-color: #000000;
}

.filters h2,
.sorting h2 {
    margin: 14px 0;
    
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.filters h2 {
    margin-bottom: 99px;
}

.filters legend {
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
}

.filters ul {
    margin: 0;
    padding: 0;
    
    list-style: none;

    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
}

.filter-option {
    padding-left: 40px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input:disabled + label {
    color: #a6a6a6;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 7px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    left: -40px;
    top: 7px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: -40px;
    top: 7px;

    width: 25px;
    height: 25px;

    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 15px;
    left: -32px;

    width: 9px;
    height: 9px;

    background-color: #000000;
    border-radius: 50%;
}

.filters .button {
    width: 100%;
}

.sorting {
    display: flex;
    align-items: center;
    padding: 10px 70px;
    padding-right: 0;
    margin-bottom: 70px;
}

.sorting h2 {
    margin-right: 55px;
}

.sorting-preference,
.sorting-order {
    margin: 0;
    padding: 0;

    list-style: none;

    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.sorting-preference a,
.sorting-order a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting-preference a:hover,
.sorting-order a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-preference a:focus,
.sorting-order a:focus {
    color: #000000;
}

.sorting-preference .current-sorting,
.sorting-order .current-sorting {
    color: #000000;
}

.sorting-preference {
    display: flex;
}

.sorting-preference li {
    margin-right: 30px;
}

.sorting-preference li:last-child {
    margin-right: 0;
}

.sorting-order {
    display: flex;
    margin-left: auto;

    position: relative;
}

.sorting-order a::before {
    content: "";

    position: absolute;
    top: -4px;

    width: 11px;
    height: 10px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.down-to-up::before {
    right: 30px;
    
    background-image: url("../img/icon-up-dir.svg");
}

.sorting-order a::before {
    opacity: 0.3;
}

.sorting-order a:hover::before {
    opacity: 0.6;
}

.sorting-order a:focus::before,
.sorting-order .current-sorting::before {
    opacity: 1;
}

.up-to-down::before {
    right: 0;
    
    background-image: url("../img/icon-down-dir.svg");
}

.catalog-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    list-style: none;
}

.catalog-item {
    margin-right: 73px;
    margin-right: 39px;

    display: flex;
    flex-direction: column;
    width: 360px;

    position: relative;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.product-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product-name {
    max-width: 252px;
}

.product-name a {
    color: #000000;
}

.product-price {
    font-family: "Gilroy Light", Arial, sans-serif;
    
    font-size: 16px;
    font-weight: 300; 
    color: #464646;
}

.catalog-image-wrapper {
    order: -1;

    cursor: pointer;
}

.catalog-image-wrapper img {
    width: 360px;
    height: 380px;
}

.popup-buttons {
    display: none;

    position: absolute;

    width: 360px;
    height: 380px;

    background-color: rgba(238,	238, 238, 0.7)
}

.cart-button {
    position: absolute;

    width: 200px;

    top: 170px;
    left: 50%;
    margin-left: -100px;
}

.compare-button {
    position: absolute;

    min-width: 144px;

    top: 227px;
    left: 50%;
    margin-left: -72px;

    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;
}

.compare-button:hover {
    color: #000000;
}

.compare-button:focus {
    color: rgba(0, 0, 0, 0.2);
    outline: none;
}

.catalog-image-wrapper:hover .popup-buttons {
    display: block;
}

.pagination-list {
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: 77px;
    margin-left: 73px; 
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 70px;

    list-style: none;
    font-size: 16p;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
}

.pagination-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 136px;
    height: 70px;

    margin: 0;
    padding: 0;

    color: #000000;
}

.pagination-button a:hover {
    background-color: #d9d9d9;
}

.pagination-button a:focus {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-button:first-child {
    margin-right: auto;
}

.pagination-button:last-child {
    margin-left: auto;
}

.pagination-item {
    margin-right: 31px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:focus {
    color: #000000;
}

.pagination-item-current a {
    color: #000000;
}

.main-footer {
    width: 100%;
    padding: 65px 0;

    background-color: #464646;
}

.main-footer .container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo path {
    fill: #ffc600;
}

.main-footer .login-out {
    color: rgba(255, 255, 255, 0.3);
}

.footer-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.footer-column p {
    margin: 0;
    padding: 0;
}

.footer-column:first-child {
    margin-bottom: 39px;
    align-items: flex-start;
}

.footer-column:last-child {
    margin-bottom: 0;
}

.footer-user-navigation,
.footer-site-navigation {
    list-style: none;
}

.footer-user-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 500px;
    
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.footer-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
    color: #ffffff;
}

.footer-user-navigation a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation path {
    fill: #ffc600;
}

.footer-user-navigation a:hover path {
    fill-opacity: 0.6;
}

.footer-user-navigation a:focus path {
    fill-opacity: 0.3;
}

.footer-site-navigation {
    display: flex;
    margin: 0;

    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.footer-site-navigation li {
    margin-right: 38px;
}

.footer-site-navigation li:last-child {
    margin-right: 0;
}

.footer-site-navigation a {
    color: #ffffff;
}

.footer-site-navigation a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.footer-address,
.footer-phone a {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}

.footer-phone,
.footer-copyright {
    margin-left: auto;
}

.footer-decoration {
    width: 80px;
    height: 7px;
    margin: auto 0;

    border: none;
    background-color: #ffc600;
}

.footer-social {
    margin-left: auto;
}

.footer-social a {
    margin-right: 23px;

    color: rgba(255, 255, 255, 0.3);
}

.footer-social a path {
    fill-opacity: 0.3;
}

.footer-social a:hover path {
    fill-opacity: 0.6;
}

.footer-social a:focus path {
    fill-opacity: 0.1;
}

.footer-social a:last-child {
    margin-right: 0;
}

.footer-social a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-social a:focus {
    color: rgba(255, 255, 255, 0.1);
}

.footer-copyright path {
    fill: #ffc600;
}

.footer-copyright a:hover path {
    fill-opacity: 0.6;
}

.footer-copyright a:focus path {
    fill-opacity: 0.3;
}

.modal {
    box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.letter-form input[type="text"],
.letter-form textarea {
    font-family: "Open Sans", Arial, sans-serif;

    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(70, 70, 70, 0.4);

    background-color: #e5e5e5;
    border: solid 3px transparent;
}

.letter-form input:focus,
.letter-form textarea:focus {
    color: #464646;

    background-color: #ffffff;
    border: solid 3px #f0c52e;
}