@font-face {
    font-family: 'Gilroy Light';
    font-weight: normal;
    font-style: 300;
    src: local('Gilroy Light'),
         url('../fonts/gilroylight.woff') format('woff'),
         url('../fonts/gilroylight.woff2') format('woff2');
}
    
@font-face {
    font-family: 'Gilroy ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: local('Gilroy ExtraBold'),
         url('../fonts/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroyextrabold.woff2') format('woff2');

}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: 300;
    font-style: normal;
    src: local('Open Sans Light'),
         url('../fonts/opensanslight.woff') format('woff'),
         url('../fonts/opensanslight.woff2') format('woff2');
    
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: local('Open Sans'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.woff2') format('woff2');
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Gilroy ExtraBold", Arial, sans-serif;

    font-size: 18px;
    line-height: 24px;
    font-weight: 800;    
    color: #000000;
    
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

.main-header-logo:hover path, 
.footer-logo:hover path {
    fill-opacity: 0.6;
}

.main-header-logo:focus path, 
.footer-logo:focus path {
    fill-opacity: 0.3;
}

.button {
    font: inherit;

    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3.6px;

    background-color: transparent;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 40%);
    border: none;
}

.button:hover {
    color: #000000;
    background-color: #f0c52e;

    transition-duration: 0.5s;
}

.button:focus {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.service-button-current,
.service-button:focus {
    color: #f0c52e;
    background-color: #000000;
    background-image: none;
    outline: none;
}

.main-header {
    
}

.main-header .login-out {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.search-form input[type="search"] {
    font: inherit;

    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border: solid 2px transparent;
}

.search-form input[type="search"]:hover {
    color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:focus {
    color: #000000;
    border-bottom-color: #000000;
}

.search-form .search-button {
    font: inherit;

    color: #000000;
    background-color: transparent;
    border: solid 2px #000000;
}

.search-form .search-button:hover {
    color: #ffffff;
    background-color: #000000;
}

.search-form .search-button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.site-navigation {
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.site-navigation,
.user-navigation,
.site-navigation-items {
    list-style: none;
}

.site-navigation-items {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: initial;
    text-transform: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:focus,
.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.index-column h2 {
    font-size: 47px;
    line-height: 48px;
}

.index-column p {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.info ul {
    list-style: none;
    font-size: 16px;
    line-height: 40px;
}

h1 {
    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 14px;
    font-weight: 300;
    
    list-style: none;
}

.breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
    color: rgba(0, 0, 0, 0.3);
}

.filters,
.sorting {
    background-color: #ebebeb;
}

.filters fieldset {
    border: none;
}

.filters h2,
.sorting h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.filters ul {
    list-style: none;

    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
}

.sorting-preference,
.sorting-order {
    list-style: none;

    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.sorting-preference a,
.sorting-order a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting-preference a:hover,
.sorting-order a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-preference a:focus,
.sorting-order a:focus {
    color: #000000;
}

.sorting-preference .current-sorting,
.sorting-order .current-sorting {
    color: #000000;
}

.filter-input:disabled + label {
    color: #a6a6a6;
}

.catalog-list {
    list-style: none;
}

.compare-button {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;
}

.compare-button:hover {
    color: #000000;
}

.compare-button:focus {
    color: rgba(0, 0, 0, 0.2);
    outline: none;
}

.product-name a {
    color: #000000;
}

.product-price {
    font-family: "Gilroy Light", Arial, sans-serif;
    
    font-size: 16px;
    font-weight: 300; 
    color: #464646;
}

.pagination-list {
    list-style: none;
    font-size: 16p;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
}

.pagination-button a {
    color: #000000;
}

.pagination-button a:hover {
    background-color: #d9d9d9;
}

.pagination-button a:focus {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:focus {
    color: #000000;
}

.pagination-item-current a {
    color: #000000;
}

.slider {
    list-style: none;
}

.slider-list h2 {
    font-size: 47px;
    line-height: 56px;
}

.slider-list p {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.features td:first-child {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #464646;
}

.features td:last-child {
    font-family: "Gilroy Light", Arial, sans-serif;
    
    font-size: 36px;
    line-height: 48px;
    font-weight: 300; 
}

.popular ul {
    list-style: none;
}

.popular a {
    color: #000000;
}

.popular a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.services-navigation {
    list-style: none;
}

.services-slider {
    list-style: none;
}

.services-slider-list {
    
}

.services-slider-list h3 {
    font-size: 47px;
    line-height: 48px;
}

.services-slider-list p {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.main-footer {
    background-color: #464646;
}

.footer-logo path {
    fill: #ffc600;
}

.main-footer .login-out {
    color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation,
.footer-site-navigation {
    list-style: none;
}

.footer-user-navigation {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.footer-site-navigation {
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.footer-site-navigation a {
    color: #ffffff;
}

.footer-site-navigation a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-user-navigation a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
    color: #ffffff;
}

.footer-user-navigation a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.footer-address,
.footer-phone a {
    font-family: "Open Sans Light", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}

.footer-social a {
    color: rgba(255, 255, 255, 0.3);
}

.footer-social a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-social a:focus {
    color: rgba(255, 255, 255, 0.1);
}

.footer-copyright a {
    color: #ffc600;
}

.footer-copyright a:hover img {
    opacity: 0.6;
}

.footer-copyright a:focus img {
    opacity: 0.3;
}

.modal {
    box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.letter-form input[type="text"],
.letter-form textarea {
    font-family: "Open Sans", Arial, sans-serif;

    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(70, 70, 70, 0.4);

    background-color: #e5e5e5;
    border: solid 3px transparent;
}

.letter-form input:focus,
.letter-form textarea:focus {
    color: #464646;

    background-color: #ffffff;
    border: solid 3px #f0c52e;
}

/* ----- Flex styles ----- */
.container {
    width: 1160px;
    margin: 0 auto;
}

.main-header {
    padding: 23px 60px;
    display: flex;
    flex-direction: column;

    background-color: transparent;
    background-image: linear-gradient(transparent 40px, rgba(240, 197, 46, 0.5) 40px);
}

.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logotypes {
    display: flex;
    justify-content: space-between;
}

.index-column{
    display: flex;
    justify-content: space-between;
}

.info {
    width: 465px;
}

.contact {
    width: 560px;
}

.items-columns {
    display: flex;
    padding: 0;
}

.filters {
    width: 327px;
    padding: 10px 60px;
    background-image: linear-gradient(#d9d9d9 71px, #ebebeb 71px);
}

.items-column {
    flex-grow: 1;
}

.sorting {
    display: flex;
    padding: 10px 70px;
    margin-bottom: 70px;
}

.sorting-preference {
    display: flex;
}

.sorting-order {
    display: flex;
    justify-content: flex-end;
}

.catalog-list {
    padding: 0;
    margin: 0;
    margin-left: 73px;
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.catalog-item:nth-child(2n) {
    margin-left: auto;
}

.product-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.catalog-image-wrapper {
    order: -1;
}

.popup-buttons {
    display: none;
}

.pagination-list {
    display: flex;
    min-height: 70px;
    margin-left: 73px; 
}

.slider {
    margin: 0;
    padding: 0;

    background-color: transparent;
    background-image: linear-gradient(rgba(240, 197, 46, 0.5) 113px, transparent 113px);
}

.slider-list_fitness-bracelet,
.slider-list_quadcopter,
.services-slider-list-guarantee,
.services-slider-list-credit {
    display: none;
}

.popular {
    margin-bottom: 84px;
}

.popular ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.popular li {
    margin-right: 40px;
}

.popular li:last-child {
    margin-right: 0;
}

.popular a {
    display: flex;
    flex-direction: column;
}

.popular-item {
    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5); 
    margin-bottom: 35px;
}

.popular-item:hover {
    background-color: #f0c52e;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 388px;
    margin-bottom: 94px;

    background-color: transparent;
    background-image: linear-gradient(transparent 100px, #e5e5e5 100px);
}

.services-navigation,
.services-slider {
    margin: 0;
    padding: 0;
}

.main-footer {
    width: 100%;
    padding: 65px 0;
    display: flex;
}

.main-footer .container {
    padding: 0 10px;
}

.footer-user-navigation,
.footer-column {
    display: flex;
}

.footer-column:first-child {
    justify-content: space-between;
}

.footer-user-navigation {
    align-self: flex-start;
}

.footer-user-navigation li {
    margin-right: 32px; 
}

.footer-user-navigation li:last-child {
    margin-right: 0; 
}

.footer-site-navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.footer-site-navigation li {
    margin-right: 38px;
}

.footer-site-navigation li:last-child {
    margin-right: 0;
}

.footer-social {
    margin-left: 509px;
}

.footer-social a {
    margin-right: 23px;
}

.footer-social a:last-child {
    margin-right: 0;
}

.footer-phone,
.footer-copyright {
    margin-left: auto;
}

